<div class="card">
    <div class="card-body">
        <div class="bannerImg">
            <img [src]="fairDetails.bannerUrl" class="img" 
            [alt]="fairDetails.fairName" [title]="fairDetails.fairName">
            <div class="heading">
                <h3 class="text-uppercase">
                    {{fairDetails.fairName}}
                    <br>
                    Date {{fairDetails.startDate * 1000 | date}}
                </h3>
            </div>
        </div>
        <p [innerHTML]="fairDetails.candidateDescription">

        </p>
    </div>
</div>